body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    position: relative;
    text-align: center;
}

#gameCanvas {
    border: 10px solid black;
}

#highScoreContainer {
    position: absolute;
    top: 15px;
    left: 10px;
    color: white; /* Sets the color of the content within #highScoreContainer to white */
}

#playButton {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}

#playButton:hover {
    background-color: darkorange;
}

#gameTitle {
    margin-bottom: 20px;
    color: white; /* Sets the color of the game title to white */
}
